.big-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

/* Description */

.description {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
}

/* New Weather */

.container{
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.allWeather {
    border-radius: 10px;
    width: 350px;
    margin-left: 250px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    background-color: #c8eaeb;
}

.weather {
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.today{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.city {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.lines {
    font-size: 18px;
}

.image {
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.temp {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.box {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    height: 60px;
    border-bottom: 1px solid black;
}

#lastBox{
    border-bottom: 0px;
}